body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url("https://i.imgur.com/MK4NUzI.png");
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
}